body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(130deg, #FF00FF, #0713fd);
    margin: 0;
}

.clock {
    display: flex;
    align-items: center;
    font-size: 120px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.divider {
    border-right: 1px solid #000000;
    height: 100%;
    margin: 0 12px;
}

#hour,
#minute,
#second {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#hour,
#minute,
#second {
    font-weight: bold;
}

/* Ajuste para garantir que os números do relógio estejam centralizados */
.clock span {
    display: inline-block;
}
